.contact {
  margin-bottom: 50px;

  &__child-content-top {
    margin-top: 50px;
  }

  &__child-form {
    background: #e9ecef;
    padding: 30px 50px;

    .error {
      color: #ec5a5a;
    }
  }
}